(
.notdef,
NULL,
CR,
space,
nbspace,
"a-deva",
"aa-deva",
"i-deva",
"ii-deva",
"u-deva",
"uu-deva",
"rVocalic-deva",
"rrVocalic-deva",
"lVocalic-deva",
"llVocalic-deva",
"e-deva",
"ai-deva",
"o-deva",
"au-deva",
"aCandra-deva",
"eCandra-deva",
"oCandra-deva",
"aShort-deva",
"eShort-deva",
"oShort-deva",
"ue-deva",
"uue-deva",
"oe-deva",
"ooe-deva",
"aw-deva",
"aaMatra-deva",
"iMatra-deva",
"iiMatra-deva",
"uMatra-deva",
"uuMatra-deva",
"rVocalicMatra-deva",
"rrVocalicMatra-deva",
"lVocalicMatra-deva",
"llVocalicMatra-deva",
"eMatra-deva",
"eMatra-deva.alt",
"aiMatra-deva",
"oMatra-deva",
"auMatra-deva",
"eCandraMatra-deva",
"oCandraMatra-deva",
"eShortMatra-deva",
"oShortMatra-deva",
"ueMatra-deva",
"uueMatra-deva",
"oeMatra-deva",
"ooeMatra-deva",
"awMatra-deva",
"prishthaMatraE-deva",
"eLongCandra-deva",
"ka-deva",
"kha-deva",
"ga-deva",
"gha-deva",
"nga-deva",
"ca-deva",
"cha-deva",
"ja-deva",
"jha-deva",
"jha-deva.short",
"nya-deva",
"tta-deva",
"ttha-deva",
"dda-deva",
"ddha-deva",
"nna-deva",
"ta-deva",
"tha-deva",
"da-deva",
"dha-deva",
"na-deva",
"pa-deva",
"pha-deva",
"ba-deva",
"bha-deva",
"ma-deva",
"ya-deva",
"ra-deva",
"la-deva",
"va-deva",
"sha-deva",
"ssa-deva",
"sa-deva",
"ha-deva",
"lla-deva",
"k_ssa-deva",
"k_ssa-deva.short",
"j_nya-deva",
"gga-deva",
"jja-deva",
"ddda-deva",
"bba-deva",
"zha-deva",
"yaheavy-deva",
"marwaridda-deva",
"jha-deva.NEP",
"anusvara-deva",
"candraBindu-deva",
"visarga-deva",
"halant-deva",
"nukta-deva",
"avagraha-deva",
"glottalstop-deva",
"highspacingdot-deva",
"udatta-deva",
"anudatta-deva",
"grave-deva",
"acute-deva",
"invertedCandrabindu-deva",
"zero-deva",
"one-deva",
"two-deva",
"three-deva",
"four-deva",
"five-deva",
"six-deva",
"seven-deva",
"eight-deva",
"nine-deva",
"five-deva.NEP",
"eight-deva.NEP",
"nine-deva.NEP",
"om-deva",
"abbreviation-deva",
"danda-deva",
"dbldanda-deva",
"karshana-vedic",
"shara-vedic",
"prenkha-vedic",
"nihshvasa-vedic",
"yajurvedicSvarita-vedic",
"yajurvedicAggravatedIndependentSvarita-vedic",
"yajurvedicIndependentSvarita-vedic",
"yajurvedicKathakaSvarita-vedic",
"candraBelow-vedic",
"yajurvedicKathakaSvaritaSchroeder-vedic",
"doubleSvarita-vedic",
"tripleSvarita-vedic",
"kathakaAnudatta-vedic",
"dotBelow-vedic",
"twoDotsBelow-vedic",
"threeDotsBelow-vedic",
"rigvedicKashmiriIndependentSvarita-vedic",
"atharvavedicIndependentSvarita-vedic",
"visargaSvarita-vedic",
"visargaUdatta-vedic",
"reversedVisargaUdatta-vedic",
"visargaAnudatta-vedic",
"reversedVisargaAnudatta-vedic",
"visargaUdattaTail-vedic",
"visargaAnudattaTail-vedic",
"anusvaraAntargomukha-vedic",
"anusvaraBahirgomukha-vedic",
"anusvaraVamagomukha-vedic",
"anusvaraVamagomukhaTail-vedic",
"tiryak-vedic",
"hexiformLongAnusvara-vedic",
"longAnusvara-vedic",
"rthangLongAnusvara-vedic",
"anusvaraUbhayatoMukha-vedic",
"ardhavisarga-vedic",
"rotatedArdhavisarga-vedic",
"candraAbove-vedic",
"jihvamuliyaSign-vedic",
"upadhmaniyaSign-vedic",
"ringAbove-vedic",
"doubleRingAbove-vedic",
"fractionOneQuarter-cinf",
"fractionOneHalf-cinf",
"fractionThreeQuarters-cinf",
"fractionOneSixteenth-cinf",
"fractionOneEighth-cinf",
"fractionThreeSixteenths-cinf",
"quarterMark-cinf",
"placeholderMark-cinf",
"rupeeMark-cinf",
"quantityMark-cinf",
"zerocomb-deva",
"onecomb-deva",
"twocomb-deva",
"threecomb-deva",
"fourcomb-deva",
"fivecomb-deva",
"sixcomb-deva",
"sevencomb-deva",
"eightcomb-deva",
"ninecomb-deva",
"acomb-deva",
"ucomb-deva",
"kacomb-deva",
"nacomb-deva",
"pacomb-deva",
"racomb-deva",
"vicomb-deva",
"avagrahacomb-deva",
"spacingcandrabindu-deva",
"candrabinduhalant-deva",
"doublecandrabinduhalant-deva",
"candrabindutwo-deva",
"candrabinduthree-deva",
"candrabinduavagraha-deva",
"pushpika-deva",
"gapfiller-deva",
"caret-deva",
"headstroke-deva",
"siddham-deva",
"jainom-deva",
"qa-deva",
"khha-deva",
"ghha-deva",
"gha_nukta-deva",
"nga_nukta-deva",
"ca_nukta-deva",
"cha_nukta-deva",
"za-deva",
"jha_nukta-deva",
"jha_nukta-deva.alt",
"nya_nukta-deva",
"tta_nukta-deva",
"ttha_nukta-deva",
"dddha-deva",
"rha-deva",
"nna_nukta-deva",
"ta_nukta-deva",
"ta_nukta-deva.alt",
"tha_nukta-deva",
"da_nukta-deva",
"dha_nukta-deva",
"nnna-deva",
"pa_nukta-deva",
"fa-deva",
"ba_nukta-deva",
"bha_nukta-deva",
"ma_nukta-deva",
"yya-deva",
"rra-deva",
"la_nukta-deva",
"va_nukta-deva",
"sha_nukta-deva",
"ssa_nukta-deva",
"sa_nukta-deva",
"ha_nukta-deva",
"llla-deva",
"jha_nukta-deva.NEP",
"reph-deva",
"eyelashReph-deva",
"rakar-deva",
"k-deva",
"kh-deva",
"g-deva",
"gh-deva",
"ng-deva",
"c-deva",
"ch-deva",
"j-deva",
"jh-deva",
"ny-deva",
"tt-deva",
"tth-deva",
"dd-deva",
"ddh-deva",
"nn-deva",
"t-deva",
"th-deva",
"d-deva",
"dh-deva",
"n-deva",
"p-deva",
"ph-deva",
"b-deva",
"bh-deva",
"m-deva",
"y-deva",
"l-deva",
"v-deva",
"sh-deva",
"ss-deva",
"s-deva",
"h-deva",
"ll-deva",
"jh-deva.NEP",
"k_ss-deva",
"j_ny-deva",
"gg-deva",
"ddd-deva",
"jj-deva",
"bb-deva",
"q-deva",
"khh-deva",
"ghh_nuka-deva",
"gh_nukta-deva",
"ng_nukta-deva",
"c_nukta-deva",
"ch_nukta-deva",
"z-deva",
"jh_nukta-deva",
"ny_nukta-deva",
"tt_nukta-deva",
"tth_nukta-deva",
"dddh-deva",
"rh-deva",
"nn_nukta-deva",
"t_nukta-deva",
"th_nukta-deva",
"d_nukta-deva",
"dh_nukta-deva",
"nnn-deva",
"p_nukta-deva",
"f-deva",
"b_nukta-deva",
"bh_nukta-deva",
"m_nukta-deva",
"yy-deva",
"l_nukta-deva",
"v_nukta-deva",
"sh_nukta-deva",
"ss_nukta-deva",
"s_nukta-deva",
"h_nukta-deva",
"ll_nukta-deva",
"jh_nukta-deva.NEP",
"k_ra-deva",
"kh_ra-deva",
"g_ra-deva",
"gh_ra-deva",
"ng_ra-deva",
"c_ra-deva",
"ch_ra-deva",
"j_ra-deva",
"jh_ra-deva",
"ny_ra-deva",
"tt_ra-deva",
"tth_ra-deva",
"dd_ra-deva",
"ddh_ra-deva",
"nn_ra-deva",
"t_ra-deva",
"th_ra-deva",
"d_ra-deva",
"dh_ra-deva",
"n_ra-deva",
"p_ra-deva",
"ph_ra-deva",
"b_ra-deva",
"bh_ra-deva",
"m_ra-deva",
"y_ra-deva",
"r_ra-deva",
"l_ra-deva",
"v_ra-deva",
"sh_ra-deva",
"ss_ra-deva",
"s_ra-deva",
"h_ra-deva",
"ll_ra-deva",
"jh_ra-deva.NEP",
"gg_ra-deva",
"ddd_ra-deva",
"jj_ra-deva",
"bb_ra-deva",
"k_ss_ra-deva",
"j_ny_ra-deva",
"k_ra-deva.SAN",
"q_ra-deva",
"khh_ra-deva",
"ghh_ra-deva",
"gh_ra_nukta-deva",
"ng_ra_nukta-deva",
"c_ra_nukta-deva",
"ch_ra_nukta-deva",
"z_ra-deva",
"jh_ra_nukta-deva",
"ny_ra_nukta-deva",
"tt_ra_nukta-deva",
"tth_ra_nukta-deva",
"dddh_ra-deva",
"rh_ra-deva",
"nn_ra_nukta-deva",
"t_ra_nukta-deva",
"th_ra_nukta-deva",
"d_ra_nukta-deva",
"dh_ra_nukta-deva",
"nnn_ra-deva",
"p_ra_nukta-deva",
"f_ra-deva",
"b_ra_nukta-deva",
"bh_ra_nukta-deva",
"m_ra_nukta-deva",
"yy_ra-deva",
"rr_ra-deva",
"l_ra_nukta-deva",
"v_ra_nukta-deva",
"sh_ra_nukta-deva",
"ss_ra_nukta-deva",
"s_ra_nukta-deva",
"h_ra_nukta-deva",
"ll_ra_nukta-deva",
"jh_ra_nukta-deva.NEP",
"k_r-deva",
"kh_r-deva",
"g_r-deva",
"gh_r-deva",
"ng_r-deva",
"c_r-deva",
"ch_r-deva",
"j_r-deva",
"jh_r-deva",
"ny_r-deva",
"tt_r-deva",
"tth_r-deva",
"dd_r-deva",
"ddh_r-deva",
"nn_r-deva",
"t_r-deva",
"th_r-deva",
"d_r-deva",
"dh_r-deva",
"n_r-deva",
"p_r-deva",
"ph_r-deva",
"b_r-deva",
"bh_r-deva",
"m_r-deva",
"y_r-deva",
"r_r-deva",
"l_r-deva",
"v_r-deva",
"sh_r-deva",
"ss_r-deva",
"s_r-deva",
"h_r-deva",
"ll_r-deva",
"jh_r-deva.NEP",
"gg_r-deva",
"ddd_r-deva",
"jj_r-deva",
"bb_r-deva",
"k_ss_r-deva",
"j_ny_r-deva",
"q_r-deva",
"khh_r-deva",
"ghh_r-deva",
"gh_r_nukta-deva",
"ng_r_nukta-deva",
"c_r_nukta-deva",
"ch_r_nukta-deva",
"z_r-deva",
"jh_r_nukta-deva",
"ny_r_nukta-deva",
"tt_r_nukta-deva",
"tth_r_nukta-deva",
"dddh_r-deva",
"rh_r-deva",
"nn_r_nukta-deva",
"t_r_nukta-deva",
"th_r_nukta-deva",
"d_r_nukta-deva",
"dh_r_nukta-deva",
"nnn_r-deva",
"p_r_nukta-deva",
"f_r-deva",
"b_r_nukta-deva",
"bh_r_nukta-deva",
"m_r_nukta-deva",
"yy_r-deva",
"rr_r-deva",
"l_r_nukta-deva",
"v_r_nukta-deva",
"sh_r_nukta-deva",
"ss_r_nukta-deva",
"s_r_nukta-deva",
"h_r_nukta-deva",
"ll_r_nukta-deva",
"jh_r_nukta-deva.NEP",
"k_ta-deva.SAN",
"k_t-deva.SAN",
"k_t_ya-deva.SAN",
"k_t_ra-deva.SAN",
"k_t_va-deva.SAN",
"ng_ya-deva",
"c_cha-deva",
"c_ch_va-deva",
"ch_ya-deva",
"ch_va-deva",
"ny_ca-deva",
"tt_tta-deva",
"tt_ttha-deva",
"tt_ya-deva",
"tth_ttha-deva",
"tth_ya-deva",
"dd_dda-deva",
"dd_ddha-deva",
"dd_ya-deva",
"ddh_ddha-deva",
"ddh_ya-deva",
"t_ta-deva",
"t_t-deva",
"d_ga-deva",
"d_gha-deva",
"d_da-deva",
"d_dha-deva",
"d_dh_ya-deva",
"d_ba-deva",
"d_bha-deva",
"d_ma-deva",
"d_ya-deva",
"d_y-deva",
"d_va-deva",
"l_ta-deva",
"l_ya-deva",
"v_ya-deva",
"sh_ca-deva",
"sh_c-deva",
"sh_la-deva",
"sh_va-deva",
"sh_v-deva",
"ss_tta-deva",
"ss_ttha-deva",
"s_ma-deva",
"h_nna-deva",
"h_na-deva",
"h_ma-deva",
"h_ya-deva",
"h_la-deva",
"h_va-deva",
"h_m_ya-deva",
"la-deva.MAR",
"la_nukta-deva.MAR",
"l_ra-deva.MAR",
"l_ra_nukta-deva.MAR",
"sh_la-deva.MAR",
"sha-deva.MAR",
"sha_nukta-deva.MAR",
"sh-deva.MAR",
"sh_nukta-deva.MAR",
"eyelashReph_dda-deva",
"eyelashReph_ma-deva",
"da_uMatra-deva",
"da_uuMatra-deva",
"da_rVocalicMatra-deva",
"da_uMatra_nukta-deva",
"da_uuMatra_nukta-deva",
"da_rVocalicMatra_nukta-deva",
"ra_uMatra-deva",
"ra_uuMatra-deva",
"ra_uMatra_nukta-deva",
"ra_uuMatra_nukta-deva",
"sha_rVocalicMatra-deva",
"ha_uMatra-deva",
"ha_uuMatra-deva",
"ha_rVocalicMatra-deva",
"ha_rrVocalicMatra-deva",
"ha_uMatra_nukta-deva",
"ha_uuMatra_nukta-deva",
"ha_rVocalicMatra_nukta-deva",
"ha_rrVocalicMatra_nukta-deva",
"h_ra_uMatra-deva",
"h_ra_uuMatra-deva",
"candraBindu-deva.alt",
"reph_anusvara-deva",
"reph_candraBindu-deva",
"eMatra_anusvara-deva",
"eMatra_anusvara-deva.alt",
"eMatra_candraBindu-deva",
"eMatra_candraBindu-deva.alt",
"eMatra_reph-deva",
"eMatra_reph-deva.alt",
"eMatra_reph_anusvara-deva",
"eMatra_reph_anusvara-deva.alt",
"eMatra_reph_candraBindu-deva",
"eMatra_reph_candraBindu-deva.alt",
"aiMatra_anusvara-deva",
"aiMatra_candraBindu-deva",
"aiMatra_reph-deva",
"aiMatra_reph_anusvara-deva",
"aiMatra_reph_candraBindu-deva",
"awMatra_rephanusvara-deva",
"awMatra_rephCandrabindu-deva",
"awMatra_reph-deva",
"eCandraMatra_anusvara-deva",
"eCandraMatra_reph-deva",
"eCandraMatra_reph_anusvara-deva",
"eCandraMatra_reph_candraBindu-deva",
"eCandraMatra_candrabindu-deva",
"eShortMatra_anusvara-deva",
"eShortMatra_candraBindu-deva",
"eShortMatra_reph-deva",
"eShortMatra_reph_anusvara-deva",
"eShortMatra_reph_candraBindu-deva",
"oeMatra_candrabindu-deva",
"oeMatra_rephanusvara-deva",
"oeMatra_rephcandrabindu-deva",
"oeMatra_anusvara-deva",
"oeMatra_reph-deva",
"iMatra-deva.01",
"iMatra-deva.02",
"iMatra-deva.03",
"iMatra-deva.04",
"iMatra-deva.05",
"iMatra-deva.06",
"iMatra-deva.07",
"iMatra-deva.08",
"iMatra-deva.09",
"iMatra-deva.10",
"iMatra-deva.11",
"iMatra-deva.12",
"iMatra_anusvara-deva.01",
"iMatra_anusvara-deva.02",
"iMatra_anusvara-deva.03",
"iMatra_anusvara-deva.04",
"iMatra_anusvara-deva.05",
"iMatra_anusvara-deva.06",
"iMatra_anusvara-deva.07",
"iMatra_anusvara-deva.08",
"iMatra_anusvara-deva.09",
"iMatra_anusvara-deva.10",
"iMatra_anusvara-deva.11",
"iMatra_anusvara-deva.12",
"iMatra_candraBindu-deva.01",
"iMatra_candraBindu-deva.02",
"iMatra_candraBindu-deva.03",
"iMatra_candraBindu-deva.04",
"iMatra_candraBindu-deva.05",
"iMatra_candraBindu-deva.06",
"iMatra_candraBindu-deva.07",
"iMatra_candraBindu-deva.08",
"iMatra_candraBindu-deva.09",
"iMatra_candraBindu-deva.10",
"iMatra_candraBindu-deva.11",
"iMatra_candraBindu-deva.12",
"iMatra_reph-deva.01",
"iMatra_reph-deva.02",
"iMatra_reph-deva.03",
"iMatra_reph-deva.04",
"iMatra_reph-deva.05",
"iMatra_reph-deva.06",
"iMatra_reph-deva.07",
"iMatra_reph-deva.08",
"iMatra_reph-deva.09",
"iMatra_reph-deva.10",
"iMatra_reph-deva.11",
"iMatra_reph-deva.12",
"iMatra_reph_anusvara-deva.01",
"iMatra_reph_anusvara-deva.02",
"iMatra_reph_anusvara-deva.03",
"iMatra_reph_anusvara-deva.04",
"iMatra_reph_anusvara-deva.05",
"iMatra_reph_anusvara-deva.06",
"iMatra_reph_anusvara-deva.07",
"iMatra_reph_anusvara-deva.08",
"iMatra_reph_anusvara-deva.09",
"iMatra_reph_anusvara-deva.10",
"iMatra_reph_anusvara-deva.11",
"iMatra_reph_anusvara-deva.12",
"iMatra_reph_candraBindu-deva.01",
"iMatra_reph_candraBindu-deva.02",
"iMatra_reph_candraBindu-deva.03",
"iMatra_reph_candraBindu-deva.04",
"iMatra_reph_candraBindu-deva.05",
"iMatra_reph_candraBindu-deva.06",
"iMatra_reph_candraBindu-deva.07",
"iMatra_reph_candraBindu-deva.08",
"iMatra_reph_candraBindu-deva.09",
"iMatra_reph_candraBindu-deva.10",
"iMatra_reph_candraBindu-deva.11",
"iMatra_reph_candraBindu-deva.12",
"iiMatra-deva.01",
"iiMatra-deva.02",
"iiMatra-deva.03",
"iiMatra_anusvara-deva",
"iiMatra_anusvara-deva.01",
"iiMatra_anusvara-deva.02",
"iiMatra_anusvara-deva.03",
"iiMatra_candraBindu-deva",
"iiMatra_candraBindu-deva.01",
"iiMatra_candraBindu-deva.02",
"iiMatra_candraBindu-deva.03",
"iiMatra_reph-deva",
"iiMatra_reph-deva.01",
"iiMatra_reph-deva.02",
"iiMatra_reph-deva.03",
"iiMatra_reph_anusvara-deva",
"iiMatra_reph_anusvara-deva.01",
"iiMatra_reph_anusvara-deva.02",
"iiMatra_reph_anusvara-deva.03",
"iiMatra_reph_candraBindu-deva",
"iiMatra_reph_candraBindu-deva.01",
"iiMatra_reph_candraBindu-deva.02",
"iiMatra_reph_candraBindu-deva.03",
"uMatra-deva.01",
"uMatra-deva.short",
"uuMatra-deva.short",
"nukta_uMatra-deva",
"nukta_uuMatra-deva",
"nukta_uMatra-deva.01",
"nukta_uuMatra-deva.01",
"nukta_rVocalicMatra-deva",
"nukta_rrVocalicMatra-deva",
"nukta_lVocalicMatra-deva",
"nukta_llVocalicMatra-deva",
"nukta_halant-deva",
"rakar_uMatra-deva",
"rakar_uuMatra-deva",
"rakar_rVocalicMatra-deva",
"rakar_rrVocalicMatra-deva",
"rakar_lVocalicMatra-deva",
"rakar_llVocalicMatra-deva",
"rakar_halant-deva",
"rakar_nukta-deva",
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
dottedCircle,
rupeeIndian,
exclam,
quotedbl,
numbersign,
percent,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
braceleft,
bar,
braceright,
asciitilde,
uni2010,
uni00AD,
endash,
emdash,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
uni02BC,
ellipsis,
multiply,
divide,
minus,
asteriskabovecomb,
"udatta-deva.alt",
"udatta-deva.alt1",
"udatta-deva.alt2",
"udatta-deva.alt3",
"udatta-deva.ii",
"udatta-deva.iicandra",
"udatta-deva.iireph",
"udatta-deva.iirephc",
"doubleSvarita-vedic.alt",
"doubleSvarita-vedic.alt1",
"doubleSvarita-vedic.alt2",
"doubleSvarita-vedic.alt3",
"doubleSvarita-vedic.ii",
"doubleSvarita-vedic.iicandra",
"doubleSvarita-vedic.iireph",
"doubleSvarita-vedic.iirephc",
"ringAbove-vedic.alt",
"ringAbove-vedic.alt1",
"ringAbove-vedic.alt2",
"ringAbove-vedic.alt3",
"ringAbove-vedic.ii",
"ringAbove-vedic.iicandra",
"ringAbove-vedic.iireph",
"ringAbove-vedic.iirephc",
"doubleRingAbove-vedic.alt",
"doubleRingAbove-vedic.alt1",
"doubleRingAbove-vedic.alt2",
"doubleRingAbove-vedic.alt3",
"doubleRingAbove-vedic.ii",
"doubleRingAbove-vedic.iicandra",
"doubleRingAbove-vedic.iireph",
"doubleRingAbove-vedic.iirephc",
"anudatta-deva.alt",
"anudatta-deva.alt1",
"anudatta-deva.alt2",
"dotBelow-vedic.alt",
"dotBelow-vedic.alt2",
"twoDotsBelow-vedic.alt",
"twoDotsBelow-vedic.alt2",
"threeDotsBelow-vedic.alt",
"threeDotsBelow-vedic.alt2",
"kathakaAnudatta-vedic.alt",
"kathakaAnudatta-vedic.alt2",
"tiryak-vedic.alt",
"tiryak-vedic.alt2",
"candraBelow-vedic.alt",
"candraBelow-vedic.alt2",
"yajurvedicAggravatedIndependentSvarita-vedic.alt",
"yajurvedicAggravatedIndependentSvarita-vedic.alt2",
"yajurvedicIndependentSvarita-vedic.alt",
"yajurvedicIndependentSvarita-vedic.alt2",
"yajurvedicKathakaSvarita-vedic.alt",
"yajurvedicKathakaSvarita-vedic.alt2",
"yajurvedicKathakaSvaritaSchroeder-vedic.alt",
"yajurvedicKathakaSvaritaSchroeder-vedic.alt2",
two_karshana,
one_radeva,
two_udeva,
two_radeva,
two_avagrahadeva,
three_kadeva,
three_radeva,
four_radeva,
five_radeva,
vi_radeva,
one_onedeva,
visarga_svarita,
NullMark,
"candraBelow-vedic.alt1",
"dotBelow-vedic.alt1",
"kathakaAnudatta-vedic.alt1",
"threeDotsBelow-vedic.alt1",
"tiryak-vedic.alt1",
"twoDotsBelow-vedic.alt1",
"yajurvedicAggravatedIndependentSvarita-vedic.alt1",
"yajurvedicIndependentSvarita-vedic.alt1",
"yajurvedicKathakaSvarita-vedic.alt1",
"yajurvedicKathakaSvaritaSchroeder-vedic.alt1",
"candraBelow-vedic.alt3",
"dotBelow-vedic.alt3",
"kathakaAnudatta-vedic.alt3",
"threeDotsBelow-vedic.alt3",
"tiryak-vedic.alt3",
"twoDotsBelow-vedic.alt3",
"yajurvedicAggravatedIndependentSvarita-vedic.alt3",
"yajurvedicIndependentSvarita-vedic.alt3",
"yajurvedicKathakaSvarita-vedic.alt3",
"yajurvedicKathakaSvaritaSchroeder-vedic.alt3",
"anudatta-deva.alt3",
"ay-deva",
"ayMatra-deva",
"ayMatra_candraBindu-deva",
"ayMatra_reph-deva",
"ayMatra_rephanusvara-deva",
"ayMatra_rephCandrabindu-deva",
"r_ya-deva",
"marwaridd_ddha-deva",
"marwaridd_ra-deva",
"marwaridd_ya-deva",
"marwaridd_dda-deva",
_part.IImatra,
_part.Imatra,
_part.iiMatra_reph
)