(
.notdef,
NULL,
CR,
space,
nbspace,
"a-deva",
"aa-deva",
"i-deva",
"ii-deva",
"u-deva",
"uu-deva",
"rVocalic-deva",
"rrVocalic-deva",
"lVocalic-deva",
"llVocalic-deva",
"e-deva",
"ai-deva",
"o-deva",
"au-deva",
"aCandra-deva",
"eCandra-deva",
"oCandra-deva",
"aShort-deva",
"eShort-deva",
"oShort-deva",
"ue-deva",
"uue-deva",
"oe-deva",
"ooe-deva",
"ay-deva",
"aw-deva",
"aaMatra-deva",
"iMatra-deva",
"iiMatra-deva",
"uMatra-deva",
"uuMatra-deva",
"rVocalicMatra-deva",
"rrVocalicMatra-deva",
"lVocalicMatra-deva",
"llVocalicMatra-deva",
"eMatra-deva",
"aiMatra-deva",
"oMatra-deva",
"auMatra-deva",
"eCandraMatra-deva",
"oCandraMatra-deva",
"eShortMatra-deva",
"oShortMatra-deva",
"ueMatra-deva",
"uueMatra-deva",
"oeMatra-deva",
"ooeMatra-deva",
"ayMatra-deva",
"awMatra-deva",
"prishthaMatraE-deva",
"eLongCandra-deva",
"ka-deva",
"kha-deva",
"ga-deva",
"gha-deva",
"nga-deva",
"ca-deva",
"cha-deva",
"ja-deva",
"jha-deva",
"nya-deva",
"tta-deva",
"ttha-deva",
"dda-deva",
"ddha-deva",
"nna-deva",
"ta-deva",
"tha-deva",
"da-deva",
"dha-deva",
"na-deva",
"pa-deva",
"pha-deva",
"ba-deva",
"bha-deva",
"ma-deva",
"ya-deva",
"ra-deva",
"la-deva",
"va-deva",
"sha-deva",
"ssa-deva",
"sa-deva",
"ha-deva",
"lla-deva",
"k_ssa-deva",
"j_nya-deva",
"gga-deva",
"jja-deva",
"ddda-deva",
"bba-deva",
"zha-deva",
"yaheavy-deva",
"marwaridda-deva",
"jha-deva.NEP",
"anusvara-deva",
"candraBindu-deva",
"visarga-deva",
"halant-deva",
"nukta-deva",
"avagraha-deva",
"glottalstop-deva",
"highspacingdot-deva",
"udatta-deva",
"anudatta-deva",
"grave-deva",
"acute-deva",
"invertedCandrabindu-deva",
"zero-deva",
"one-deva",
"two-deva",
"three-deva",
"four-deva",
"five-deva",
"six-deva",
"seven-deva",
"eight-deva",
"nine-deva",
"five-deva.NEP",
"eight-deva.NEP",
"nine-deva.NEP",
"om-deva",
"abbreviation-deva",
"danda-deva",
"dbldanda-deva",
"karshana-vedic",
"shara-vedic",
"prenkha-vedic",
"nihshvasa-vedic",
"yajurvedicSvarita-vedic",
"yajurvedicAggravatedIndependentSvarita-vedic",
"yajurvedicIndependentSvarita-vedic",
"yajurvedicKathakaSvarita-vedic",
"candraBelow-vedic",
"yajurvedicKathakaSvaritaSchroeder-vedic",
"doubleSvarita-vedic",
"tripleSvarita-vedic",
"kathakaAnudatta-vedic",
"dotBelow-vedic",
"twoDotsBelow-vedic",
"threeDotsBelow-vedic",
"rigvedicKashmiriIndependentSvarita-vedic",
"atharvavedicIndependentSvarita-vedic",
"visargaSvarita-vedic",
"visargaUdatta-vedic",
"reversedVisargaUdatta-vedic",
"visargaAnudatta-vedic",
"reversedVisargaAnudatta-vedic",
"visargaUdattaTail-vedic",
"visargaAnudattaTail-vedic",
"anusvaraAntargomukha-vedic",
"anusvaraBahirgomukha-vedic",
"anusvaraVamagomukha-vedic",
"anusvaraVamagomukhaTail-vedic",
"tiryak-vedic",
"hexiformLongAnusvara-vedic",
"longAnusvara-vedic",
"rthangLongAnusvara-vedic",
"anusvaraUbhayatoMukha-vedic",
"ardhavisarga-vedic",
"rotatedArdhavisarga-vedic",
"candraAbove-vedic",
"jihvamuliyaSign-vedic",
"upadhmaniyaSign-vedic",
"ringAbove-vedic",
"doubleRingAbove-vedic",
"fractionOneQuarter-cinf",
"fractionOneHalf-cinf",
"fractionThreeQuarters-cinf",
"fractionOneSixteenth-cinf",
"fractionOneEighth-cinf",
"fractionThreeSixteenths-cinf",
"quarterMark-cinf",
"placeholderMark-cinf",
"rupeeMark-cinf",
"quantityMark-cinf",
"zerocomb-deva",
"onecomb-deva",
"twocomb-deva",
"threecomb-deva",
"fourcomb-deva",
"fivecomb-deva",
"sixcomb-deva",
"sevencomb-deva",
"eightcomb-deva",
"ninecomb-deva",
"acomb-deva",
"ucomb-deva",
"kacomb-deva",
"nacomb-deva",
"pacomb-deva",
"racomb-deva",
"vicomb-deva",
"avagrahacomb-deva",
"spacingcandrabindu-deva",
"candrabinduhalant-deva",
"doublecandrabinduhalant-deva",
"candrabindutwo-deva",
"candrabinduthree-deva",
"candrabinduavagraha-deva",
"pushpika-deva",
"gapfiller-deva",
"caret-deva",
"headstroke-deva",
"siddham-deva",
"jainom-deva",
"headMark-deva",
"headMarkWithHeadStroke-deva",
"signBhale-deva",
"signBhaleWithHook-deva",
"signExtendedBhale-deva",
"signExtendedBhaleWithHook-deva",
"signWesternFiveLikeBhale-deva",
"signWesternNineLikeBhale-deva",
"signReversedNineLikeBhale-deva",
"signMindu-deva",
"qa-deva",
"khha-deva",
"ghha-deva",
"za-deva",
"dddha-deva",
"rha-deva",
"nnna-deva",
"fa-deva",
"yya-deva",
"rra-deva",
"llla-deva",
"k-deva",
"kh-deva",
"g-deva",
"gh-deva",
"c-deva",
"ch-deva",
"j-deva",
"jh-deva",
"ny-deva",
"nn-deva",
"t-deva",
"th-deva",
"dh-deva",
"n-deva",
"p-deva",
"ph-deva",
"b-deva",
"bh-deva",
"m-deva",
"y-deva",
"l-deva",
"v-deva",
"sh-deva",
"ss-deva",
"s-deva",
"h-deva",
"ll-deva",
"jh-deva.NEP",
"k_ss-deva",
"j_ny-deva",
"gg-deva",
"jj-deva",
"bb-deva",
"zh-deva",
"y_heavy-deva",
"q-deva",
"khh-deva",
"ghh-deva",
"gh_nukta-deva",
"c_nukta-deva",
"ch_nukta-deva",
"z-deva",
"jh_nukta-deva",
"ny_nukta-deva",
"nn_nukta-deva",
"t_nukta-deva",
"th_nukta-deva",
"dh_nukta-deva",
"nnn-deva",
"p_nukta-deva",
"f-deva",
"b_nukta-deva",
"bh_nukta-deva",
"m_nukta-deva",
"yy-deva",
"l_nukta-deva",
"v_nukta-deva",
"sh_nukta-deva",
"ss_nukta-deva",
"s_nukta-deva",
"h_nukta-deva",
"ll_nukta-deva",
"jh_nukta-deva.NEP",
"k_ra-deva",
"kh_ra-deva",
"g_ra-deva",
"gh_ra-deva",
"c_ra-deva",
"j_ra-deva",
"jh_ra-deva",
"ny_ra-deva",
"nn_ra-deva",
"t_ra-deva",
"th_ra-deva",
"d_ra-deva",
"dh_ra-deva",
"n_ra-deva",
"p_ra-deva",
"ph_ra-deva",
"b_ra-deva",
"bh_ra-deva",
"m_ra-deva",
"y_ra-deva",
"l_ra-deva",
"v_ra-deva",
"sh_ra-deva",
"ss_ra-deva",
"s_ra-deva",
"h_ra-deva",
"jh_ra-deva.NEP",
"gg_ra-deva",
"jj_ra-deva",
"bb_ra-deva",
"k_ss_ra-deva",
"j_ny_ra-deva",
"zh_ra-deva",
"y_ra_heavy-deva",
"k_ra-deva.SAN",
"q_ra-deva",
"khh_ra-deva",
"ghh_ra-deva",
"gh_ra_nukta-deva",
"c_ra_nukta-deva",
"z_ra-deva",
"jh_ra_nukta-deva",
"ny_ra_nukta-deva",
"nn_ra_nukta-deva",
"t_ra_nukta-deva",
"th_ra_nukta-deva",
"d_ra_nukta-deva",
"dh_ra_nukta-deva",
"nnn_ra-deva",
"p_ra_nukta-deva",
"f_ra-deva",
"b_ra_nukta-deva",
"bh_ra_nukta-deva",
"m_ra_nukta-deva",
"yy_ra-deva",
"l_ra_nukta-deva",
"v_ra_nukta-deva",
"sh_ra_nukta-deva",
"ss_ra_nukta-deva",
"s_ra_nukta-deva",
"h_ra_nukta-deva",
"jh_ra_nukta-deva.NEP",
"k_r-deva",
"kh_r-deva",
"g_r-deva",
"gh_r-deva",
"c_r-deva",
"ch_r-deva",
"j_r-deva",
"jh_r-deva",
"ny_r-deva",
"nn_r-deva",
"t_r-deva",
"th_r-deva",
"dh_r-deva",
"n_r-deva",
"p_r-deva",
"ph_r-deva",
"b_r-deva",
"bh_r-deva",
"m_r-deva",
"y_r-deva",
"l_r-deva",
"v_r-deva",
"sh_r-deva",
"ss_r-deva",
"s_r-deva",
"ll_r-deva",
"jh_r-deva.NEP",
"gg_r-deva",
"jj_r-deva",
"bb_r-deva",
"k_ss_r-deva",
"j_ny_r-deva",
"zh_r-deva",
"y_r_heavy-deva",
"q_r-deva",
"khh_r-deva",
"ghh_r-deva",
"gh_r_nukta-deva",
"c_r_nukta-deva",
"ch_r_nukta-deva",
"z_r-deva",
"jh_r_nukta-deva",
"ny_r_nukta-deva",
"nn_r_nukta-deva",
"t_r_nukta-deva",
"th_r_nukta-deva",
"dh_r_nukta-deva",
"nnn_r-deva",
"p_r_nukta-deva",
"f_r-deva",
"b_r_nukta-deva",
"bh_r_nukta-deva",
"m_r_nukta-deva",
"yy_r-deva",
"l_r_nukta-deva",
"v_r_nukta-deva",
"sh_r_nukta-deva",
"ss_r_nukta-deva",
"s_r_nukta-deva",
"ll_r_nukta-deva",
"jh_r_nukta-deva.NEP",
"k_ta-deva.SAN",
"k_t-deva.SAN",
"k_t_ra-deva.SAN",
"ng_ya-deva",
"ng_ka-deva",
"ng_kha-deva",
"ng_ga-deva",
"ng_gha-deva",
"ng_ma-deva",
"c_cha-deva",
"c_ch_va-deva",
"ch_ya-deva",
"ch_va-deva",
"tt_tta-deva",
"tt_ttha-deva",
"tt_ya-deva",
"tth_ttha-deva",
"tth_ya-deva",
"dd_dda-deva",
"dd_ddha-deva",
"dd_ya-deva",
"dd_r_ya-deva",
"ddh_ddha-deva",
"ddh_ya-deva",
"t_ta-deva",
"t_t-deva",
"d_ga-deva",
"d_gha-deva",
"d_da-deva",
"d_d_ya-deva",
"d_dha-deva",
"d_dh_ya-deva",
"d_ba-deva",
"d_bha-deva",
"d_ma-deva",
"d_ya-deva",
"d_y-deva",
"d_va-deva",
"d_v_ya-deva",
"n_na-deva",
"p_na-deva",
"b_dha-deva",
"v_ya-deva",
"sh_ca-deva",
"sh_c-deva",
"sh_na-deva",
"sh_la-deva",
"sh_va-deva",
"sh_v-deva",
"ss_tta-deva",
"ss_tt_ya-deva",
"ss_ttha-deva",
"ss_tth_ya-deva",
"h_nna-deva",
"h_na-deva",
"h_ma-deva",
"h_ya-deva",
"h_la-deva",
"h_va-deva",
"h_m_ya-deva",
"la-deva.MAR",
"l_ra-deva.MAR",
"l_ra_nukta-deva.MAR",
"sh_la-deva.MAR",
"sha-deva.MAR",
"sh-deva.MAR",
"sh_nukta-deva.MAR",
"r_ya-deva",
"marwaridd_ddha-deva",
"marwaridd_ra-deva",
"marwaridd_ya-deva",
"marwaridd_dda-deva",
"da_uMatra-deva",
"da_uuMatra-deva",
"da_rVocalicMatra-deva",
"ra_uMatra-deva",
"ra_uuMatra-deva",
"ra_uMatra_nukta-deva",
"ra_uuMatra_nukta-deva",
"sha_rVocalicMatra-deva",
"ha_uMatra-deva",
"ha_uuMatra-deva",
"ha_rVocalicMatra-deva",
"ha_rrVocalicMatra-deva",
"ha_uMatra_nukta-deva",
"ha_uuMatra_nukta-deva",
"h_ra_uMatra-deva",
"h_ra_uuMatra-deva",
"reph-deva",
"eyelashReph-deva",
"rakar-deva",
"anusvara-deva.alt",
"reph_anusvara-deva",
"reph_candraBindu-deva",
"eMatra_anusvara-deva",
"eMatra_candraBindu-deva",
"eMatra_reph-deva",
"eMatra_reph_anusvara-deva",
"eMatra_reph_candraBindu-deva",
"aiMatra_anusvara-deva",
"aiMatra_candraBindu-deva",
"aiMatra_reph-deva",
"aiMatra_reph_anusvara-deva",
"aiMatra_reph_candraBindu-deva",
"ayMatra_anusvara-deva",
"ayMatra_candraBindu-deva",
"ayMatra_reph-deva",
"ayMatra_reph_anusvara-deva",
"ayMatra_reph_candraBindu-deva",
"eCandraMatra_anusvara-deva",
"eCandraMatra_reph-deva",
"eCandraMatra_reph_anusvara-deva",
"eCandraMatra_reph_candraBindu-deva",
"eCandraMatra_candraBindu-deva",
"eShortMatra_anusvara-deva",
"eShortMatra_candraBindu-deva",
"eShortMatra_reph-deva",
"eShortMatra_reph_anusvara-deva",
"eShortMatra_reph_candraBindu-deva",
"oeMatra_anusvara-deva",
"oeMatra_candraBindu-deva",
"oeMatra_reph-deva",
"oeMatra_reph_anusvara-deva",
"oeMatra_reph_candraBindu-deva",
"iMatra-deva.01",
"iMatra-deva.02",
"iMatra-deva.03",
"iMatra-deva.04",
"iMatra-deva.05",
"iMatra-deva.06",
"iMatra-deva.07",
"iMatra-deva.08",
"iMatra-deva.09",
"iMatra-deva.10",
"iMatra-deva.11",
"iMatra-deva.12",
"iMatra-deva.13",
"iMatra-deva.14",
"iMatra-deva.15",
"iMatra_anusvara-deva.01",
"iMatra_anusvara-deva.02",
"iMatra_anusvara-deva.03",
"iMatra_anusvara-deva.04",
"iMatra_anusvara-deva.05",
"iMatra_anusvara-deva.06",
"iMatra_anusvara-deva.07",
"iMatra_anusvara-deva.08",
"iMatra_anusvara-deva.09",
"iMatra_anusvara-deva.10",
"iMatra_anusvara-deva.11",
"iMatra_anusvara-deva.12",
"iMatra_anusvara-deva.13",
"iMatra_anusvara-deva.14",
"iMatra_anusvara-deva.15",
"iMatra_candraBindu-deva.01",
"iMatra_candraBindu-deva.02",
"iMatra_candraBindu-deva.03",
"iMatra_candraBindu-deva.04",
"iMatra_candraBindu-deva.05",
"iMatra_candraBindu-deva.06",
"iMatra_candraBindu-deva.07",
"iMatra_candraBindu-deva.08",
"iMatra_candraBindu-deva.09",
"iMatra_candraBindu-deva.10",
"iMatra_candraBindu-deva.11",
"iMatra_candraBindu-deva.12",
"iMatra_candraBindu-deva.13",
"iMatra_candraBindu-deva.14",
"iMatra_candraBindu-deva.15",
"iMatra_reph-deva.01",
"iMatra_reph-deva.02",
"iMatra_reph-deva.03",
"iMatra_reph-deva.04",
"iMatra_reph-deva.05",
"iMatra_reph-deva.06",
"iMatra_reph-deva.07",
"iMatra_reph-deva.08",
"iMatra_reph-deva.09",
"iMatra_reph-deva.10",
"iMatra_reph-deva.11",
"iMatra_reph-deva.12",
"iMatra_reph-deva.13",
"iMatra_reph-deva.14",
"iMatra_reph-deva.15",
"iMatra_reph_anusvara-deva.01",
"iMatra_reph_anusvara-deva.02",
"iMatra_reph_anusvara-deva.03",
"iMatra_reph_anusvara-deva.04",
"iMatra_reph_anusvara-deva.05",
"iMatra_reph_anusvara-deva.06",
"iMatra_reph_anusvara-deva.07",
"iMatra_reph_anusvara-deva.08",
"iMatra_reph_anusvara-deva.09",
"iMatra_reph_anusvara-deva.10",
"iMatra_reph_anusvara-deva.11",
"iMatra_reph_anusvara-deva.12",
"iMatra_reph_anusvara-deva.13",
"iMatra_reph_anusvara-deva.14",
"iMatra_reph_anusvara-deva.15",
"iMatra_reph_candraBindu-deva.01",
"iMatra_reph_candraBindu-deva.02",
"iMatra_reph_candraBindu-deva.03",
"iMatra_reph_candraBindu-deva.04",
"iMatra_reph_candraBindu-deva.05",
"iMatra_reph_candraBindu-deva.06",
"iMatra_reph_candraBindu-deva.07",
"iMatra_reph_candraBindu-deva.08",
"iMatra_reph_candraBindu-deva.09",
"iMatra_reph_candraBindu-deva.10",
"iMatra_reph_candraBindu-deva.11",
"iMatra_reph_candraBindu-deva.12",
"iMatra_reph_candraBindu-deva.13",
"iMatra_reph_candraBindu-deva.14",
"iMatra_reph_candraBindu-deva.15",
"iiMatra-deva.01",
"iiMatra-deva.02",
"iiMatra-deva.03",
"iiMatra_anusvara-deva",
"iiMatra_anusvara-deva.01",
"iiMatra_anusvara-deva.02",
"iiMatra_anusvara-deva.03",
"iiMatra_candraBindu-deva",
"iiMatra_candraBindu-deva.01",
"iiMatra_candraBindu-deva.02",
"iiMatra_candraBindu-deva.03",
"iiMatra_reph-deva",
"iiMatra_reph-deva.01",
"iiMatra_reph-deva.02",
"iiMatra_reph-deva.03",
"iiMatra_reph_anusvara-deva",
"iiMatra_reph_anusvara-deva.01",
"iiMatra_reph_anusvara-deva.02",
"iiMatra_reph_anusvara-deva.03",
"iiMatra_reph_candraBindu-deva",
"iiMatra_reph_candraBindu-deva.01",
"iiMatra_reph_candraBindu-deva.02",
"iiMatra_reph_candraBindu-deva.03",
"j-deva.alt",
"z-deva.alt",
"n-deva.alt",
"m-deva.alt",
"nga-deva.alt",
"cha-deva.alt",
"tta-deva.alt",
"ttha-deva.alt",
"dda-deva.alt",
"ddha-deva.alt",
"ha-deva.alt",
"h_ra-deva.alt",
"d_da-deva.alt",
"d_bha-deva.alt",
"lla-deva.alt",
"visarga-deva.alt",
"atharvavedicIndependentSvarita-vedic.alt",
"nukta-deva.alt",
"uMatra_Narrow-deva",
"nukta_uMatra-deva",
"nukta_uuMatra-deva",
"nukta_rVocalicMatra-deva",
"nukta_rrVocalicMatra-deva",
"nukta_lVocalicMatra-deva",
"nukta_llVocalicMatra-deva",
"nukta_ueMatra-deva",
"nukta_uueMatra-deva",
"nukta_halant-deva",
"rakar_uMatra-deva",
"rakar_uuMatra-deva",
"rakar_rVocalicMatra-deva",
"rakar_rrVocalicMatra-deva",
"rakar_lVocalicMatra-deva",
"rakar_llVocalicMatra-deva",
"rakar_ueMatra-deva",
"rakar_uueMatra-deva",
"rakar_halant-deva",
"nukta_rakar-deva",
"nukta_rakar_uMatra-deva",
"nukta_rakar_uuMatra-deva",
"nukta_rakar_rVocalicMatra-deva",
"nukta_rakar_rrVocalicMatra-deva",
"nukta_rakar_lVocalicMatra-deva",
"nukta_rakar_llVocalicMatra-deva",
"nukta_rakar_ueMatra-deva",
"nukta_rakar_uueMatra-deva",
"nukta_rakar_halant-deva",
"uMatra-deva.alt",
"uuMatra-deva.alt",
"rrVocalicMatra-deva.alt",
"lVocalicMatra-deva.alt",
"llVocalicMatra-deva.alt",
"nukta_rrVocalicMatra-deva.alt",
"nukta_lVocalicMatra-deva.alt",
"nukta_llVocalicMatra-deva.alt",
"ueMatra-deva.alt",
"uueMatra-deva.alt",
"udatta-deva.alt01",
"doubleSvarita-vedic.alt01",
"ringAbove-vedic.alt01",
"doubleRingAbove-vedic.alt01",
"udatta-deva.alt02",
"doubleSvarita-vedic.alt02",
"ringAbove-vedic.alt02",
"doubleRingAbove-vedic.alt02",
"udatta-deva.alt03",
"doubleRingAbove-vedic.alt03",
"doubleSvarita-vedic.alt03",
"ringAbove-vedic.alt03",
"udatta-deva.alt04",
"doubleSvarita-vedic.alt04",
"ringAbove-vedic.alt04",
"doubleRingAbove-vedic.alt04",
"udatta-deva.alt05",
"doubleRingAbove-vedic.alt05",
"doubleSvarita-vedic.alt05",
"ringAbove-vedic.alt05",
"anudatta-deva.alt01",
"candraBelow-vedic.alt01",
"dotBelow-vedic.alt01",
"kathakaAnudatta-vedic.alt01",
"threeDotsBelow-vedic.alt01",
"twoDotsBelow-vedic.alt01",
"yajurvedicAggravatedIndependentSvarita-vedic.alt01",
"yajurvedicIndependentSvarita-vedic.alt01",
"yajurvedicKathakaSvarita-vedic.alt01",
"yajurvedicKathakaSvaritaSchroeder-vedic.alt01",
"tiryak-vedic.alt01",
"one_one-deva",
"one_ra-deva",
"two_karshana-deva",
"two_u-deva",
"two_ra-deva",
"two_avagraha-deva",
"three_ka-deva",
"three_ra-deva",
"four_ra-deva",
"five_ra-deva",
"vi_ra-deva",
visarga_svarita,
"ha_uMatra_UI-deva",
"ha_uuMatra_UI-deva",
"h_ra_uMatra_UI-deva",
"h_ra_uuMatra_UI-deva",
"karshana-vedic.UI",
"shara-vedic.UI",
"prenkha-vedic.UI",
asteriskabovecomb.UI,
"zerocomb-deva.UI",
"onecomb-deva.UI",
"twocomb-deva.UI",
"threecomb-deva.UI",
"fourcomb-deva.UI",
"fivecomb-deva.UI",
"sixcomb-deva.UI",
"sevencomb-deva.UI",
"eightcomb-deva.UI",
"ninecomb-deva.UI",
"acomb-deva.UI",
"ucomb-deva.UI",
"kacomb-deva.UI",
"nacomb-deva.UI",
"pacomb-deva.UI",
"racomb-deva.UI",
"vicomb-deva.UI",
"avagrahacomb-deva.UI",
"candraAbove-vedic.UI",
"rakar_rrVocalicMatra_UI-deva",
"rakar_lVocalicMatra_UI-deva",
"rakar_llVocalicMatra_UI-deva",
NullMark,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
dottedCircle,
rupeeIndian,
exclam,
quotedbl,
numbersign,
percent,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
braceleft,
bar,
braceright,
asciitilde,
uni2010,
uni00AD,
endash,
emdash,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
uni02BC,
ellipsis,
multiply,
divide,
minus,
asteriskabovecomb,
"_Comp_nga_Short-deva",
"nukta-deva.sat",
"_Comp_anusvara-deva",
"_Comp_nukta_rakar_matra-deva",
"_Comp_rakar_matra-deva",
"_Comp_candraBindu-deva.01",
"_Comp_candraBindu-deva.02",
"_Comp_reph-deva",
"_Comp_reph_anusvara-deva",
"_Comp_reph_candraBindu-deva",
eshortvowelsignrephanusvarade
)