(
.notdef,
null,
CR,
space,
binducandradeva,
candrabindudeva,
anusvaradeva,
visargadeva,
ashortdeva,
adeva,
aadeva,
ideva,
iideva,
udeva,
uudeva,
rvocalicdeva,
lvocalicdeva,
ecandradeva,
eshortdeva,
edeva,
aideva,
ocandradeva,
oshortdeva,
odeva,
audeva,
kadeva,
khadeva,
gadeva,
ghadeva,
ngadeva,
cadeva,
chadeva,
jadeva,
jhadeva,
nyadeva,
ttadeva,
tthadeva,
ddadeva,
ddhadeva,
nnadeva,
tadeva,
thadeva,
dadeva,
dhadeva,
nadeva,
nnnadeva,
padeva,
phadeva,
badeva,
bhadeva,
madeva,
yadeva,
radeva,
rradeva,
ladeva,
lladeva,
llladeva,
vadeva,
shadeva,
ssadeva,
sadeva,
hadeva,
oevowelsigndeva,
ooevowelsigndeva,
nuktadeva,
avagrahadeva,
aavowelsigndeva,
ivowelsigndeva,
iivowelsigndeva,
uvowelsigndeva,
uuvowelsigndeva,
rvocalicvowelsigndeva,
rrvocalicvowelsigndeva,
ecandravowelsigndeva,
eshortvowelsigndeva,
evowelsigndeva,
aivowelsigndeva,
ocandravowelsigndeva,
oshortvowelsigndeva,
ovowelsigndeva,
auvowelsigndeva,
viramadeva,
uni094E,
awvowelsigndeva,
omdeva,
udattadeva,
anudattadeva,
uni0953,
uni0954,
candralongevowelsigndeva,
uevowelsigndeva,
uuevowelsigndeva,
qadeva,
khhadeva,
ghhadeva,
zadeva,
dddhadeva,
rhadeva,
fadeva,
yyadeva,
rrvocalicdeva,
llvocalicdeva,
lvocalicvowelsigndeva,
llvocalicvowelsigndeva,
dandadeva,
dbldandadeva,
zerodeva,
onedeva,
twodeva,
threedeva,
fourdeva,
fivedeva,
sixdeva,
sevendeva,
eightdeva,
ninedeva,
abbreviationsigndeva,
uni0971,
acandradeva,
oedeva,
ooedeva,
awdeva,
uedeva,
uuedeva,
marwariddadeva,
zhadeva,
heavyyadeva,
gabardeva,
jabardeva,
uni097D,
ddabardeva,
babardeva,
uni200C,
uni200D,
uni25CC,
uni02BC,
ashortnuktadeva,
anuktadeva,
aanuktadeva,
inuktadeva,
iinuktadeva,
unuktadeva,
uunuktadeva,
rvocalicnuktadeva,
lvocalicnuktadeva,
ecandranuktadeva,
eshortnuktadeva,
enuktadeva,
ainuktadeva,
ocandranuktadeva,
oshortnuktadeva,
onuktadeva,
aunuktadeva,
rrvocalicnuktadeva,
llvocalicnuktadeva,
acandranuktadeva,
ghanuktadeva,
nganuktadeva,
canuktadeva,
chanuktadeva,
jhanuktadeva,
nyanuktadeva,
ttanuktadeva,
tthanuktadeva,
nnanuktadeva,
tanuktadeva,
thanuktadeva,
danuktadeva,
dhanuktadeva,
panuktadeva,
banuktadeva,
bhanuktadeva,
manuktadeva,
lanuktadeva,
vanuktadeva,
shanuktadeva,
ssanuktadeva,
sanuktadeva,
hanuktadeva,
kassadeva,
janyadeva,
rephdeva,
vattudeva,
kaprehalfdeva,
khaprehalfdeva,
gaprehalfdeva,
ghaprehalfdeva,
ngaprehalfdeva,
caprehalfdeva,
chaprehalfdeva,
japrehalfdeva,
jhaprehalfdeva,
nyaprehalfdeva,
ttaprehalfdeva,
tthaprehalfdeva,
ddaprehalfdeva,
ddhaprehalfdeva,
nnaprehalfdeva,
taprehalfdeva,
thaprehalfdeva,
daprehalfdeva,
dhaprehalfdeva,
naprehalfdeva,
paprehalfdeva,
phaprehalfdeva,
baprehalfdeva,
bhaprehalfdeva,
maprehalfdeva,
yaprehalfdeva,
raprehalfdeva,
laprehalfdeva,
llaprehalfdeva,
vaprehalfdeva,
shaprehalfdeva,
ssaprehalfdeva,
saprehalfdeva,
haprehalfdeva,
zhaprehalfdeva,
heavyyaprehalfdeva,
kassaprehalfdeva,
janyaprehalfdeva,
kanuktaprehalfdeva,
khanuktaprehalfdeva,
ganuktaprehalfdeva,
ghanuktaprehalfdeva,
nganuktaprehalfdeva,
canuktaprehalfdeva,
chanuktaprehalfdeva,
januktaprehalfdeva,
jhanuktaprehalfdeva,
nyanuktaprehalfdeva,
ttanuktaprehalfdeva,
tthanuktaprehalfdeva,
ddanuktaprehalfdeva,
ddhanuktaprehalfdeva,
nnanuktaprehalfdeva,
tanuktaprehalfdeva,
thanuktaprehalfdeva,
danuktaprehalfdeva,
dhanuktaprehalfdeva,
nanuktaprehalfdeva,
panuktaprehalfdeva,
phanuktaprehalfdeva,
banuktaprehalfdeva,
bhanuktaprehalfdeva,
manuktaprehalfdeva,
yanuktaprehalfdeva,
lanuktaprehalfdeva,
llanuktaprehalfdeva,
vanuktaprehalfdeva,
shanuktaprehalfdeva,
ssanuktaprehalfdeva,
sanuktaprehalfdeva,
hanuktaprehalfdeva,
karadeva,
kharadeva,
garadeva,
gharadeva,
ngaradeva,
caradeva,
charadeva,
jaradeva,
jharadeva,
nyaradeva,
ttaradeva,
ttharadeva,
ddaradeva,
ddharadeva,
nnaradeva,
taradeva,
tharadeva,
daradeva,
dharadeva,
naradeva,
paradeva,
pharadeva,
baradeva,
bharadeva,
maradeva,
yaradeva,
raradeva,
laradeva,
llaradeva,
varadeva,
sharadeva,
ssaradeva,
saradeva,
haradeva,
marwariddaradeva,
zharadeva,
heavyyaradeva,
kassaradeva,
janyaradeva,
kanuktaradeva,
khanuktaradeva,
ganuktaradeva,
ghanuktaradeva,
nganuktaradeva,
canuktaradeva,
chanuktaradeva,
januktaradeva,
jhanuktaradeva,
nyanuktaradeva,
ttanuktaradeva,
tthanuktaradeva,
ddanuktaradeva,
ddhanuktaradeva,
nnanuktaradeva,
tanuktaradeva,
thanuktaradeva,
danuktaradeva,
dhanuktaradeva,
nanuktaradeva,
panuktaradeva,
phanuktaradeva,
banuktaradeva,
bhanuktaradeva,
manuktaradeva,
yanuktaradeva,
ranuktaradeva,
lanuktaradeva,
llanuktaradeva,
vanuktaradeva,
shanuktaradeva,
ssanuktaradeva,
sanuktaradeva,
hanuktaradeva,
karaprehalfdeva,
kharaprehalfdeva,
garaprehalfdeva,
gharaprehalfdeva,
ngaraprehalfdeva,
caraprehalfdeva,
charaprehalfdeva,
jaraprehalfdeva,
jharaprehalfdeva,
nyaraprehalfdeva,
ttaraprehalfdeva,
ttharaprehalfdeva,
ddaraprehalfdeva,
ddharaprehalfdeva,
nnaraprehalfdeva,
taraprehalfdeva,
tharaprehalfdeva,
daraprehalfdeva,
dharaprehalfdeva,
naraprehalfdeva,
paraprehalfdeva,
pharaprehalfdeva,
baraprehalfdeva,
bharaprehalfdeva,
maraprehalfdeva,
yaraprehalfdeva,
raraprehalfdeva,
laraprehalfdeva,
llaraprehalfdeva,
varaprehalfdeva,
sharaprehalfdeva,
ssaraprehalfdeva,
saraprehalfdeva,
haraprehalfdeva,
zharaprehalfdeva,
heavyyaraprehalfdeva,
kassaraprehalfdeva,
janyaraprehalfdeva,
kanuktaraprehalfdeva,
khanuktaraprehalfdeva,
ganuktaraprehalfdeva,
ghanuktaraprehalfdeva,
nganuktaraprehalfdeva,
canuktaraprehalfdeva,
chanuktaraprehalfdeva,
januktaraprehalfdeva,
jhanuktaraprehalfdeva,
nyanuktaraprehalfdeva,
ttanuktaraprehalfdeva,
tthanuktaraprehalfdeva,
ddanuktaraprehalfdeva,
ddhanuktaraprehalfdeva,
nnanuktaraprehalfdeva,
tanuktaraprehalfdeva,
thanuktaraprehalfdeva,
danuktaraprehalfdeva,
dhanuktaraprehalfdeva,
nanuktaraprehalfdeva,
panuktaraprehalfdeva,
phanuktaraprehalfdeva,
banuktaraprehalfdeva,
bhanuktaraprehalfdeva,
manuktaraprehalfdeva,
yanuktaraprehalfdeva,
lanuktaraprehalfdeva,
llanuktaraprehalfdeva,
vanuktaraprehalfdeva,
shanuktaraprehalfdeva,
ssanuktaraprehalfdeva,
sanuktaraprehalfdeva,
hanuktaraprehalfdeva,
haudeva,
hauudeva,
haueUIdeva,
hauueUIdeva,
harvocalicdeva,
harrvocalicdeva,
hanuktaudeva,
hanuktauudeva,
hanuktarvocalicdeva,
hanuktarrvocalicdeva,
haraudeva,
harauudeva,
haraueUIdeva,
harauueUIdeva,
raudeva,
rauudeva,
daudeva,
dauudeva,
darvocalicdeva,
daraudeva,
darauudeva,
dararvocalicdeva,
ranuktaudeva,
ranuktauudeva,
danuktaudeva,
danuktauudeva,
danuktarvocalicdeva,
dddhaudeva,
dddhauudeva,
rhaudeva,
rhauudeva,
oevowelsignanusvaradeva,
oevowelsignrephdeva,
oevowelsignrephanusvaradeva,
ooevowelsignanusvaradeva,
ooevowelsignrephdeva,
ooevowelsignrephanusvaradeva,
iivowelsignanusvaradeva,
iivowelsignrephdeva,
iivowelsignrephanusvaradeva,
ecandravowelsignanusvaradeva,
ecandravowelsignrephdeva,
ecandravowelrephanusvaradeva,
eshortvowelsignanusvaradeva,
eshortvowelsignrephdeva,
eshortvowelsignrephanusvarade,
evowelsignanusvaradeva,
evowelsignrephdeva,
evowelsignrephanusvaradeva,
aivowelsignanusvaradeva,
aivowelsignrephdeva,
aivowelsignrephanusvaradeva,
ocandravowelsignanusvaradeva,
ocandravowelsignrephdeva,
ocandravowelrephanusvaradeva,
oshortvowelsignanusvaradeva,
oshortvowelsignrephdeva,
oshortvowelsignrephanusvaradeva,
ovowelsignanusvaradeva,
ovowelsignrephdeva,
ovowelsignrephanusvaradeva,
auvowelsignanusvaradeva,
auvowelsignrephdeva,
auvowelsignrephanusvaradeva,
awvowelsignanusvaradeva,
awvowelsignrephdeva,
awvowelsignrephanusvaradeva,
rephanusvaradeva,
ashortanusvaradeva,
iianusvaradeva,
ecandraanusvaradeva,
eshortanusvaradeva,
aianusvaradeva,
ocandraanusvaradeva,
oshortanusvaradeva,
oanusvaradeva,
auanusvaradeva,
acandraanusvaradeva,
oeanusvaradeva,
ooeanusvaradeva,
awanusvaradeva,
ashortnuktaanusvaradeva,
iinuktaanusvaradeva,
ecandranuktaanusvaradeva,
eshortnuktaanusvaradeva,
ainuktaanusvaradeva,
ocandranuktaanusvaradeva,
oshortnuktaanusvaradeva,
onuktaanusvaradeva,
aunuktaanusvaradeva,
acandranuktaanusvaradeva,
katadeva,
kashadeva,
khashadeva,
ngagadeva,
ngamadeva,
ngayadeva,
cacadeva,
cachadeva,
cacharadeva,
chayadeva,
jajadeva,
jaddadeva,
nyajadeva,
ttattadeva,
ttattauudeva,
ttatthadeva,
ttatthauudeva,
ttayadeva,
tthatthadeva,
tthayadeva,
ddaddhadeva,
ddaddadeva,
ddaddauudeva,
ddayadeva,
ddarayadeva,
ddhaddhadeva,
ddhayadeva,
tatadeva,
tataprehalfdeva,
tathadeva,
tashadeva,
daghadeva,
dagadeva,
dabadeva,
dabhadeva,
davadeva,
davayadeva,
dadhadeva,
dadhayadeva,
dadadeva,
dadayadeva,
damadeva,
dayadeva,
dayaprehalfdeva,
naddadeva,
naddaradeva,
nathadeva,
natharadeva,
nadhadeva,
nadhaprehalfdeva,
nadharadeva,
nanadeva,
nashadeva,
panadeva,
badhadeva,
mapadeva,
maparadeva,
mapaprehalfdeva,
maphadeva,
mabhadeva,
laddadeva,
laddaradeva,
lathadeva,
vayadeva,
shacadeva,
shavadeva,
shaladeva,
shanadeva,
ssattadeva,
ssattayadeva,
ssattaradeva,
ssatthadeva,
ssatthayadeva,
ssattharadeva,
sathadeva,
sathaprehalfdeva,
sapadeva,
sapaprehalfdeva,
saparadeva,
saphadeva,
hannadeva,
hanadeva,
hamadeva,
hayadeva,
haladeva,
havadeva,
ladevaMAR,
lanuktadevaMAR,
laradevaMAR,
lanuktaradevaMAR,
shaladevaMAR,
shadevaMAR,
shaprehalfdevaMAR,
shanuktadevaMAR,
shanuktaprehalfdevaMAR,
chaprehalfdevaNEP,
chanuktaprehalfdevaNEP,
charaprehalfdevaNEP,
chanuktaraprehalfdevaNEP,
jhadevaNEP,
jhanuktadevaNEP,
jhaprehalfdevaNEP,
jhanuktaprehalfdevaNEP,
jharadevaNEP,
jhanuktaradevaNEP,
jharaprehalfdevaNEP,
jhanuktaraprehalfdevaNEP,
fivedevaNEP,
eightdevaNEP,
ninedevaNEP,
ivowelsign00deva,
ivowelsign01deva,
ivowelsign02deva,
ivowelsign03deva,
ivowelsign04deva,
ivowelsign05deva,
ivowelsign06deva,
ivowelsign07deva,
ivowelsign08deva,
ivowelsign09deva,
ivowelsign10deva,
ivowelsign11deva,
ivowelsignanusvaradeva,
ivowelsignanusvara01deva,
ivowelsignanusvara02deva,
ivowelsignanusvara03deva,
ivowelsignanusvara04deva,
ivowelsignanusvara05deva,
ivowelsignanusvara06deva,
ivowelsignanusvara07deva,
ivowelsignanusvara08deva,
ivowelsignanusvara09deva,
ivowelsignanusvara10deva,
ivowelsignanusvara11deva,
ivowelsignrephdeva,
ivowelsignreph01deva,
ivowelsignreph02deva,
ivowelsignreph03deva,
ivowelsignreph04deva,
ivowelsignreph05deva,
ivowelsignreph06deva,
ivowelsignreph07deva,
ivowelsignreph08deva,
ivowelsignreph09deva,
ivowelsignreph10deva,
ivowelsignreph11deva,
ivowelsignrephanusvaradeva,
ivowelsignrephanusvara01deva,
ivowelsignrephanusvara02deva,
ivowelsignrephanusvara03deva,
ivowelsignrephanusvara04deva,
ivowelsignrephanusvara05deva,
ivowelsignrephanusvara06deva,
ivowelsignrephanusvara07deva,
ivowelsignrephanusvara08deva,
ivowelsignrephanusvara09deva,
ivowelsignrephanusvara10deva,
ivowelsignrephanusvara11deva,
dummymarkdeva,
iivowelsign1deva,
iivowelsign2deva,
iivowelsign3deva,
iivowelsignanusvara1deva,
iivowelsignanusvara2deva,
iivowelsignanusvara3deva,
iivowelsignreph1deva,
iivowelsignreph2deva,
iivowelsignreph3deva,
iivowelsignrephanusvara1deva,
iivowelsignrephanusvara2deva,
iivowelsignrephanusvara3deva,
uvowelsignnuktadeva,
uvowelsignnuktaleftdeva,
uvowelsignnarrowdeva,
uuvowelsignnuktadeva,
uuvowelsignnuktaleftdeva,
rvocalicvowelsignnuktadeva,
rvocalicvowelsignnuktaleftdeva,
rrvocalicvowelsignnuktadeva,
rrvocalicvowelsignnuktaleftdeva,
lvocalicvowelsignleftdeva,
lvocalicvowelsignnuktadeva,
lvocalicvowelsignnuktaleftdeva,
llvocalicvowelsignnuktadeva,
llvocalicvowelsignleftdeva,
llvocalicvowelsignnuktaleftdeva,
viramanuktadeva,
uevowelsignnuktadeva,
uevowelsignnuktaleftdeva,
uuevowelsignnuktadeva,
uuevowelsignnuktaleftdeva,
ngaaltdeva,
chaaltdeva,
ttaaltdeva,
tthaaltdeva,
ddaaltdeva,
ddhaaltdeva,
llaaltdeva,
laaltdevaMAR,
nganuktaaltdeva,
chanuktaaltdeva,
ttanuktaaltdeva,
tthanuktaaltdeva,
dddhaaltdeva,
rhaaltdeva,
lllaaltdeva,
lanuktaaltdevaMAR,
shaprehalfaltdeva,
vattuudeva,
vattuulowdeva,
vattuulownuktadeva,
vattuuudeva,
vattuuulowdeva,
vattuuulownuktadeva,
vatturvocalicdeva,
vatturvocaliclowdeva,
vatturvocaliclownuktadeva,
vatturrvocalicdeva,
vattulvocalicdeva,
vattullvocalicdeva,
vattuviramadeva,
vattuviramalowdeva,
vattuviramalownuktadeva,
vattuuevoweldeva,
vattuuevowellowdeva,
vattuuevowellownuktadeva,
vattuuuevoweldeva,
vattuuuevowellowdeva,
vattuuuevowellownuktadeva,
uvowelsignlowdeva,
uuvowelsignlowdeva,
rvocalicvowelsignlowdeva,
rrvocaliclowdeva,
lvocalicvowelsignlowdeva,
llvocalicvowelsignlowdeva,
viramalowdeva,
uevowelsignlowdeva,
uuevowelsignlowdeva,
dadaaltdeva,
dabhaaltdeva,
candrabindusmalldeva,
rephcandrabindudeva,
oevowelsigncandrabindudeva,
ooevowelsigncandrabindudeva,
ecandravowelsigncandrabindudeva,
eshortvowelsigncandrabindudeva,
evowelsigncandrabindudeva,
aivowelsigncandrabindudeva,
ocandravowelsigncandrabindudeva,
oshortvowelsigncandrabindudeva,
ovowelsigncandrabindudeva,
auvowelsigncandrabindudeva,
awvowelsigncandrabindudeva,
ivowelsigncandrabindudeva,
ivowelsigncandrabindu01deva,
ivowelsigncandrabindu02deva,
ivowelsigncandrabindu03deva,
ivowelsigncandrabindu04deva,
ivowelsigncandrabindu05deva,
ivowelsigncandrabindu06deva,
ivowelsigncandrabindu07deva,
ivowelsigncandrabindu08deva,
ivowelsigncandrabindu09deva,
ivowelsigncandrabindu10deva,
ivowelsigncandrabindu11deva,
iivowelcandrabindudeva,
iivowelcandrabindu1deva,
iivowelcandrabindu2deva,
iivowelcandrabindu3deva,
oevowelsignrephcandrabindudeva,
ooevowelsignrephcandrabindudeva,
ecandravowelrephcandrabindudeva,
eshortvowelrephcandrabindudeva,
evowelsignrephcandrabindudeva,
aivowelsignrephcandrabindudeva,
ocandravowelrephcandrabindudeva,
oshortvowelrephcandrabindudeva,
ovowelsignrephcandrabindudeva,
auvowelsignrephcandrabindudeva,
awvowelsignrephcandrabindudeva,
ivowelsignrephcandrabindudeva,
ivowelsignrephcandrabindu01deva,
ivowelsignrephcandrabindu02deva,
ivowelsignrephcandrabindu03deva,
ivowelsignrephcandrabindu04deva,
ivowelsignrephcandrabindu05deva,
ivowelsignrephcandrabindu06deva,
ivowelsignrephcandrabindu07deva,
ivowelsignrephcandrabindu08deva,
ivowelsignrephcandrabindu09deva,
ivowelsignrephcandrabindu10deva,
ivowelsignrephcandrabindu11deva,
iivowelsignrephcandrabindudeva,
iivowelsignrephcandrabindu1deva,
iivowelsignrephcandrabindu2deva,
iivowelsignrephcandrabindu3deva,
nuktasmalldeva,
exclam.deva,
quotedbl.deva,
numbersign.deva,
percent.deva,
quotesingle.deva,
parenleft.deva,
parenright.deva,
asterisk.deva,
plus.deva,
comma.deva,
hyphen.deva,
period.deva,
slash.deva,
zero.deva,
one.deva,
two.deva,
three.deva,
four.deva,
five.deva,
six.deva,
seven.deva,
eight.deva,
nine.deva,
colon.deva,
semicolon.deva,
less.deva,
equal.deva,
greater.deva,
question.deva,
bracketleft.deva,
backslash.deva,
bracketright.deva,
asciicircum.deva,
underscore.deva,
braceleft.deva,
bar.deva,
braceright.deva,
asciitilde.deva,
nbspace.deva,
sfthyphen.deva,
endash.deva,
emdash.deva,
quoteleft.deva,
quoteright.deva,
quotedblleft.deva,
quotedblright.deva,
ellipsis.deva,
multiply.deva,
divide.deva,
minus.deva,
uni2010,
uni20B9.deva,
uniA830,
uniA831,
uniA832,
uniA833,
uniA834,
uniA835,
uniA836,
uniA837,
uniA838,
uniA839,
uniA8E0,
uniA8E1,
uniA8E2,
uniA8E3,
uniA8E4,
uniA8E5,
uniA8E6,
uniA8E7,
uniA8E8,
uniA8E9,
uniA8EA,
uniA8EB,
uniA8EC,
uniA8ED,
uniA8EE,
uniA8EF,
uniA8F0,
uniA8F1,
uniA8F2,
uniA8F3,
uniA8F4,
uniA8F5,
uniA8F6,
uniA8F7,
uniA8F8,
uniA8F9,
uniA8FA,
uniA8FB,
uniA8FC,
uniA8FD,
uni1CD0,
uni1CD1,
uni1CD2,
uni1CD3,
uni1CD4,
uni1CD5,
uni1CD6,
uni1CD7,
uni1CD8,
uni1CD9,
uni1CDA,
uni1CDB,
uni1CDC,
uni1CDD,
uni1CDE,
uni1CDF,
uni1CE0,
uni1CE1,
uni1CE2,
uni1CE3,
uni1CE4,
uni1CE5,
uni1CE6,
uni1CE7,
uni1CE8,
uni1CE9,
uni1CEA,
uni1CEB,
uni1CEC,
uni1CED,
uni1CEE,
uni1CEF,
uni1CF0,
uni1CF1,
uni1CF2,
uni1CF3,
uni1CF4,
uni1CF5,
uni1CF6,
one_onedeva,
two_udeva,
three_kadeva,
one_radeva,
two_radeva,
three_radeva,
four_radeva,
five_radeva,
two_avagrahadeva,
two_uni1CD0,
vi_radeva,
visarga_uni1CE2,
visarga_uni1CE4,
visarga_uni1CE5,
visarga_uni1CE8,
uni1CE1.alt,
uni200B,
uni1CF8,
uni1CF9,
uni20F0,
sharvocalicdeva,
aydeva,
ayvowelsigndeva,
ayanusvaradeva,
ayanusvaravowelsigndeva,
ayvowelsigncandrabindudeva,
ayvowelsignrephdeva,
ayvowelsignrephanusvaradeva,
ayvowelsignrephcandrabindudeva,
rayadeva,
marwariddaddadeva,
marwariddaddhadeva,
marwariddayadeva
)